<html>
    <head>
        <link rel = "stylesheet" href="../css/index.css"/>
    </head>
    <body>
        <div id="sidebar">
            <div id="profile-row">
                <img class="profile-icon" src="../components/profile-placeholder.jpg" alt="Profile picture">
                <button id="cart-btn">🛒</button>
            </div>
            <nav>
                <ul>
                    <li class="nav-links"><a href="../pages/Home.html">Home</a></li>
                    <li class="nav-links"><a href="../pages/Books.html">Books</a></li>
                    <li class="nav-links"><a href="../pages/Merchandise.html">Merchandise</a></li>
                    <li class="nav-links"><a href="../pages/Wiki.html">Wiki</a></li>
                </ul>
            </nav>
            <a href="..." id="logout-btn">Log Out</a> 
        </div>
    </body>
</html>