<html>
    <head>
        <link rel = "stylesheet" href="../css/index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="sidebar">
            <div class="profile-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                    <circle cx="12" cy="7" r="4"/>
                </svg>
            </div>
            <nav>
                <ul>
                    <li class="nav-links hover"><a href="../pages/Home.html">Home</a></li>
                    <li class="nav-links hover"><a href="../pages/Books.html">Books</a></li>
                    <li class="nav-links hover"><a href="../pages/Merchandise.html">Merchandise</a></li>
                    <li class="nav-links hover"><a href="../pages/Wiki.html">Wiki</a></li>
                </ul>
            </nav>
            <button id="logout-btn">Log Out</button> 
        </div>
    </body>
</html>