<html>
    <head>
        <link rel = "stylesheet" href="../css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="sidebar">
            <div class="profile-icon">
                <img src="../images/Profile.jpg">
            </div>
            <nav>
                <ul>
                    <li class="nav-links hover">
                        <a href="../pages/Home.html">
                        <img class="sidebar-icon" src="../images/HOME-icon.png">Home</a>
                    </li>
                    

                    <li class="nav-links hover">
                        <a href="../pages/Books.html">
                        <img class="sidebar-icon" src="../images/BOOKS-icon.png">Books</a>
                    </li>

                    <li class="nav-links hover">
                        <a href="../pages/Merchandise.html">
                        <img class="sidebar-icon" src="../images/MERCHANDISE-icon.png">Merchandise</a>
                    </li>

                    <li class="nav-links hover">
                        <a href="../pages/Wiki.html">
                        <img class="sidebar-icon" src="../images/WIKI-icon.png">Wiki</a>
                    </li>

                </ul>
            </nav>
            <button id="logout-btn"><strong>Log Out</strong></button> 
        </div>
    </body>
</html>