body {
    margin: 0px 0px 0px 0px;
}

.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}

.web {
    display: flex;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0px;
}

.nav-titles {
    font-family: "kanit";
    margin-left: 50px;
    font-size: 50px;
    color: #374785;
    text-shadow: 1px 1px px black;
}

h3 {
    margin: 0px 0px 0px 0px;
}


#sidebar {
    /*stack on each other row by row*/
    display: flex;
    flex-direction:column;
    /*This sets the sidebar to left*/
    position: static;
    top: 0px; 
    left: 0px; 
    /*size of the sidebar*/
    width: 200px;
    height: 92.4vh;
    /*gap of each component*/
    gap: 20px;
    /*color of the sidebar*/
    background-color: #A23B46;
    border: 2px solid black;
    /*top space*/
    padding-top: 50px;
}

#profile-row {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items:center;
}

.profile-icon {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius:50%;
    border: 2px solid black;
    object-fit:fill;
}

#cart-btn {
    border-radius: 25%;
    width: 40px;
    height: 35px;
    margin: 0 0 0 20;
    border: none;
    background: #F0FAF7;
    font-size: 20;
    border: 2px solid black;
}

/*Navigation links/buttons */
/*home, books, marchandise, wiki and logout*/
.nav-links {
  background: none; 
  border: none; 
  color: red;
  margin: 0 10 10 10;
  list-style: none;
  margin-bottom: 25px;
}
#logout-btn {
    margin-top: auto;
    align-self: center;
    margin-bottom: 30px;
}
/*The color of the hyperlinks*/
a {
    color: #F0FAF7;
}

/*Home page*/
/*Hero where the user is being welcomed to the website*/
#hero {
    display:flex;
    background: #3C6661;
    color: #F0FAF7;
    margin: 0px 50px 0px 50px;
    border-radius: 10px;
    border: 2px solid black;
    width: 90%;
    height: 250px;
    align-items:end;
    justify-content: left;
    padding: 0px 20px 0px 30px;
    font-size: 50px;
    text-shadow: 3px 3px 10px black;
    font-family: "Kanit";
}

