body {
    margin: 0px 0px 0px 0px;
}

.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}

.web {
    display: flex;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    background-image: url("../images/Whiteroom.png");
    background-size: cover;
}

.nav-titles {
    font-family: "kanit";
    margin-left: 50px;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h3 {
    margin: 0px 0px 0px 0px;
}
/*The color of the hyperlinks*/
a {
    color: #F0FAF7;
    text-decoration: none;
}

ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#sidebar {
    box-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction:column;
    position: static;
    top: 0px; 
    left: 0px; 
    width: 200px;
    height: 92.4vh;
    gap: 20px;
    background-color:   #cdced0;
    border: 2px solid black;
    padding-top: 50px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 50px;
}


.profile-icon {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 80px;
    height: 80px;
    border-radius:50%;
    border: 2px solid black;
    object-fit:fill;
    box-shadow: 1px 1px 1px black;
    align-self: center;
}

.profile-icon svg {
    color:#cdced0;
    width: 80px;
    height: 80px;
    background: white;
    border-radius:50%;
}

#cart-btn {
    display: flex;
    border-radius: 25%;
    width: 40px;
    height: 35px;
    margin: 0 0 0 20;
    border: none;
    background: #F0FAF7;
    font-size: 20;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

#cart-btn:hover {
    background: #cdced0;
}

#cart-btn svg {
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px 1px 1px black);
}

/*Navigation links/buttons */
/*home, books, marchandise, wiki and logout*/
.nav-links {
  background: none; 
  display: flex;
  border: none; 
  list-style: none;
  margin-bottom: 10px;
  font-family: "Kanit";
  justify-content: left;
  padding: 10px 10px 10px 40px;
}

.nav-links:hover { 
  background: #b3b4b5;
  padding: 10px 10px 10px 40px;
  cursor: pointer;
}

.nav-links a {
    color: black;
}

#logout-btn {
    display:flex;
    justify-content: center;
    margin: auto 10px 30px 10px;
    font-family: "Kanit";
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

#logout-btn:hover {
    background: #b3b4b5;
}


/*Home page*/
/*Hero where the user is being welcomed to the website*/
#hero {
    background-image: url("../images/ANHS.png");
    background-size: cover;
    display:flex;
    color: #F0FAF7;
    margin: 0px 50px 30px 50px;
    border-radius: 10px;
    border: 2px solid black;
    height: 250px;
    align-items:end;
    justify-content: left;
    padding: 0px 20px 0px 30px;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
    font-family: "Kanit";
}

#cardnav-row {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.cardnav {
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 30px;
    height: 280px;
    width: 567px;
    background: rgba(205, 206, 208, 0.5); /* translucent background ONLY, not affecting children */
    border: 2px solid black;
    border-radius: 10px;
    font-family: "kanit";
    padding-left: 20px;
    text-shadow: 1px 1px 1px black;
}

.cardnav svg {
    height: 30vh;
    width: 30vh;
    filter: drop-shadow(1px 1px 1px black);
}

.cardnav:hover {
    background: rgb(205, 206, 208); 
}

