body {
    margin: 0px 0px 0px 0px;
}

.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}

.web {
    display: flex;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0px;
    background-image: url("../images/Whiteroom.png");
    background-size: cover;
}

.nav-titles {
    font-family: "kanit";
    margin-left: 50px;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h4 h3 h2 h1 p {
    font-family: "Kanit";
}

h3 {
    margin: 0px 0px 0px 0px;
}
/*The color of the hyperlinks*/
a {
    color: #F0FAF7;
    text-decoration: none;
}

ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#sidebar {
    box-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction:column;
    position: static;
    top: 0px; 
    left: 0px; 
    width: 200px;
    height: 92.4vh;
    gap: 20px;
    background-color:   #cdced0;
    border: 2px solid black;
    padding-top: 50px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20;
    margin-right: 50px;
}


.profile-icon {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 80px;
    height: 80px;
    border-radius:50%;
    border: 2px solid black;
    object-fit:fill;
    box-shadow: 1px 1px 1px black;
    align-self: center;
}

.profile-icon svg {
    color:#cdced0;
    width: 80px;
    height: 80px;
    background: white;
    border-radius:50%;
}

#cart-btn {
    display: flex;
    border-radius: 25%;
    width: 40px;
    height: 35px;
    margin: 0 0 0 20;
    border: none;
    background: #F0FAF7;
    font-size: 20;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

#cart-btn:hover {
    background: #b3b4b5;
}

#cart-btn svg {
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px 1px 1px black);
}

/*Navigation links/buttons */
/*home, books, marchandise, wiki and logout*/
.nav-links {
  background: none; 
  display: flex;
  border: none; 
  list-style: none;
  margin-bottom: 10px;
  font-family: "Kanit";
  justify-content: left;
  padding: 10px 10px 10px 40px;
}

.nav-links:hover { 
  background: #b3b4b5;
  padding: 10px 10px 10px 40px;
  cursor: pointer;
}

.nav-links a {
    color: black;
}

#logout-btn {
    display:flex;
    justify-content: center;
    margin: auto 10px 30px 10px;
    font-family: "Kanit";
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

#logout-btn:hover {
    background: #b3b4b5;
}


/*Home page----------------------------------------------------------------------------*/
#hero {
    background-image: url("../images/ANHS.png");
    background-size: cover;
    display:flex;
    color: #F0FAF7;
    margin: 0px 50px 30px 50px;
    border-radius: 10px;
    border: 2px solid black;
    height: 250px;
    align-items:end;
    justify-content: left;
    padding: 0px 20px 0px 30px;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
    font-family: "Kanit";
}

#cardnav-row {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cardnav {
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 30px;
    height: 280px;
    width: 577px;
    background: rgba(205, 206, 208, 0.5); /* translucent background ONLY, not affecting children */
    border: 2px solid black;
    border-radius: 10px;
    font-family: "kanit";
    padding-left: 20px;
    text-shadow: 1px 1px 1px black;
}

.cardnav svg {
    height: 30vh;
    width: 30vh;
    filter: drop-shadow(1px 1px 1px black);
}

.cardnav:hover {
    background: #b3b4b592;
}

/*BOOKS PANEL----------------------------------------------------------------*/
#book-panel {
    display: flex;
    flex-direction: row;
    margin: 0px 50px 0px 50px;
    gap: 10px;

}
.book-filter {
    font-family: "kanit";
    width: 17%;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
}
.book-filter input {
    margin-left: 15px;
}

#books-bg {
    background: rgba(255, 255, 255, 0.5);
    height: 85vh;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

#bookshop-bg {
    background: rgba(255, 255, 255, 0.5);
    height: 85vh;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#catg {
    display: flex;
    margin:0px;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.catg-labels {
    display: flex;
    align-items: center;
}

.book-image {
    margin-top: 10px;
    margin-left: 50px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
}

.book-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "kanit";
}

.book-info p {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 150px;
}

.book-title {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    font-family: "kanit";
    color: white;
    text-shadow: 1px 1px 3px black;
}

.book-type {
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    font-family: "kanit";
    color: white;
    text-shadow: 1px 1px 3px black;
}

#book-price {
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

#bookshop-btn {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    justify-content: left;
    gap: 20px;
    width: 100%;
    height: 30px;
}

#bookshop-btn button {
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
}

#bookshop-btn button:hover {
    background: #b3b4b5;
}

#item-qty {
    display: flex;
    gap: 8px;
}

#item-qty button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;             /* removes default browser border */
    padding: 0;                /* removes default button padding that throws off centering */
    font-size: 18px;           /* line-height on default button text can look off-center without this */
    cursor: pointer;
}

#shop-back a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: black;
    margin: 20px auto 10px 20px;
    width:fit-content;
    padding: 5px;
}
#shop-back a:hover {
    background: #b3b4b5;
    border-radius: 10px;
    margin: 20px auto 10px 20px;
    padding: 5px;
}

.book-details {
    margin: 0px;
    display:flex;
    flex-direction: row;
}